<div class="content">
<h1 class="title">Show Finder</h1>
<p id="about">This Web App helps us find different TV shows. You can enter a search value and it will return 20 shows back. Or, you can enter a specific id!</p>
<form action="/search" method="POST" class='search-form'>
<div class="form">
  <label for="name">Enter your search term:</label>
		<input type="text" id="name" name="searchTerm"/>
    <button type="submit">Submit</button>
</div>
</form>
</div>



{{!-- <!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href=“/public/site.css”>
    <meta charset="utf-8">
    <title>Show Finder</title>
    <h1>Show Finder</h1>
  </head>
  <body>
  <main>
    <p>This Web App helps us find different TV shows. You can enter a search value and it will return 20 shows back. Or, you can enter a specific id </p>
    <form action="/search" method="post">
			<ul>
				<li>
					<label for="name">Enter your search term:</label>
					<input type="text" id="name" name="searchTerm"/>
				</li>
				<li class="button">
					<button type="submit">Submit</button>
				</li>
			</ul>
	</form>
  </main>
  </body>
</html>

 --}}